body {
    font-family: OpenSans, sans;
    color: #636363;
}
h1, h2, h3, h4 {
    color: #363636;
}
h4 {
    margin: 1rem 0;
}
ul {
    margin: 1rem 0;
}
a, a:hover, a:visited, a:focus {
    color: rgb(1, 174, 253);
}

.remark-slide-content {
    font-size: 2rem;
    padding: 1rem 4rem;
}

.list {
    font-size: 3rem;
}
.list ul {
    padding-left: 0;
    }
.list li {
    list-style: none;
    padding: 0;
}
.vspace {
    display: block;
    height: 1rem;
}
.w100 img {
    display: inline-block;
    width: 100%;
}
.w75 img {
    display: inline-block;
    width: 75%;
}
.w66 img {
    display: inline-block;
    width: 66%;
}
.w50 img {
    display: inline-block;
    width: 50%;
}
.abs {
    position: absolute;
}
.abs p {
    margin: 0;
}
.abs img {
    width: 100%;
    display: block;
}
.shadow img {
    box-shadow: 0 0 5px silver;
}
.ref p {
    position: absolute;
    font-size: 1rem;
    bottom: 1rem;
}

p.white {
    background-color: white;
}
p.blue {
    background-color: #00A9FA;
}
p.red {
    background-color: #FF645F;
}
p.green {
    background-color: #00DA88;
}
p.cyan {
    background-color: #57CFC8;
}
p.grey {
    background-color: #F2F2F2;
}

span.white {
    color: white;
}
span.blue {
    color: #00A9FA;
}
span.red {
    color: #FF645F;
}
span.green {
    color: #00DA88;
}
span.cyan {
    color: #57CFC8;
}
span.grey {
    color: #F2F2F2;
}
.b {
    font-weight: bold;
}
.remark-slide-number {
    opacity: 0;
}

.project-image {
    display: block;
    height: 400px;
}